---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="Contact">
  <h2 class="text-3xl font-bold mb-6 text-yellow-400">Contact Us</h2>
  <p>Join our Discord server for support or inquiries:</p>
  <code>.gg/7p7EfZCu6C</code>
</BaseLayout>
