<nav class="bg-gray-800 border-b border-gray-700 p-4 text-center text-lg font-semibold">
  <a href="/" class="mx-4 hover:text-yellow-400">Home</a>
  <a href="/services" class="mx-4 hover:text-yellow-400">Services</a>
  <a href="/plans" class="mx-4 hover:text-yellow-400">Plans</a>
  <a href="/rewards" class="mx-4 hover:text-yellow-400">Rewards</a>
  <a href="/contact" class="mx-4 hover:text-yellow-400">Contact</a>
</nav>
